<section class="navbar">
  <h1>Recipes</h1>
  <ul class="nav_links">
    <li><%= link_to 'Food', foods_path %></li>
    <li><%= link_to 'Recipes', recipes_path %></li>
    <li>Public recipes</li>
  </ul>
  <div>
    <p>Sign Out</p>
  </div>
</section>