<section class="navbar">
  <h1>Recipes</h1>
  <ul class="nav_links">
    <li><%= link_to 'Food', foods_path %></li>
    <li><%= link_to 'Recipes', recipes_path %></li>
    <li>Public recipes</li>
  </ul>
  <div>
    <% if user_signed_in? %>
      <p><%= link_to "Sign Out", destroy_user_session_path, data: {
        turbo_method: :delete,
      } %></p>
    <% else %>
      <p><%= link_to "Sign In", new_user_session_path %></p>
    <% end %>
    
  </div>
</section>