* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 3rem;
}

.nav_links {
  display: flex;
  list-style: none;
  gap: 10px;
}
